.tcontainer {
    z-index: 1;
    border-radius: 5px;
    background-color: rgba(235, 235, 237, 0.85);
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    height:70%;
    position: absolute;
    overflow-y: auto;
    table-layout:fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }

 .tcontainer td {
    overflow: hidden;
    text-align: center;
 }

.input-file {
    cursor: pointer;
    font-size: inherit;
}

.title-result {
    align-content: center;
    justify-content: center;
    display: flex;
    color: #5151ea;
}

.tresult {

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
}

.result-div {
    overflow:hidden;
    overflow-y: scroll;
    height: 500px;
}

.tresult th,
.tresult td {
    padding: 12px 15px;
}

.tresult tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.tresult tbody tr:nth-of-type(odd) {
    background-color: #00987921;
}

.tresult tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.title {
    text-align: center;
    color: #009879;
    font-size: 1.9em;
    font-family: sans-serif;
}
