<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Give me the odds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1 class="title"> An error happened :( </h1>
<br>
{% if err %}
<h2 class="title"> Error {{ err }}: {{ message }} </h2>
{% endif %}
<h3 class="title"> See logs for more details </h3>

</body>
</html>