<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Give me the odds</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    {% if graph %}
        <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-graph.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script type="text/javascript" src="{{url_for('static', filename='graph.js')}}"></script>
    {% endif %}
    <script type="text/javascript" src="{{url_for('static', filename='scripts.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1 class="title"> Give me the odds </h1>
 <table class="tcontainer">
     {% if graph %}
     <col width="50%" />
     <col width="50%" />
     {% endif %}
  <tr>
    <td><input type="file" id="file-input" class="input-file"/></td>
      {% if graph %}
        <td rowspan="3" style="height:100%"><div id="container" style="height: 100%" ></div></td>
      {% endif %}
  </tr>
  <tr>
    <td><h3 id="captured" class="title"></h3></td>
  </tr>
  <tr>
    <td><div class="result-div"><table id="file-content" class="tresult"></table></div></td>
  </tr>
</table>

</body>
</html>